:root {
--color-brand: #5a4dcf;
--color-brandHover: #483da5;
--color-brandDisabled: #8b82dd;
--color-brandBackground: #E8EAF6;
--color-secondary: #F9C80E;
--color-secondaryHover: #e0b40c;
--color-secondaryDisabled: #fad856;
--color-secondaryBackground: #f5f0f0;
--color-fontOnBrand: #ffffff;
--color-brandContainer: #eeedfa;
--color-fontOnBrandContainer: #212121;
--color-fontSubduedOnBrand: #d1d1d1;
--color-fontSubduedOnBrandContainer: #4d4c4c;
--color-secondaryContainer: #fef9e6;
--color-fontOnSecondary: #f8f7f7;
--color-fontSubduedOnSecondary: #dedede;
--color-fontOnSecondaryContainer: #292828;
--color-fontSubduedOnSecondaryContainer: #4d4c4c;
--color-neutral: #ffffff;
--color-neutralLight1: #f4f7f8;
--color-neutralLight2: #edf2f4;
--color-neutralDark: #2f3030;
--color-fontOnNeutral: #292929;
--color-fontOnNeutralLight1: #121212;
--color-fontOnNeutralLight2: #0a0a0a;
--color-fontOnNeutralDark: #ffffff;
--color-fontSubduedOnNeutral: #4a4a4a;
--color-shadowColor: #8f8f8f88;
--color-borderColor: #888888;
--spacing-xxs: 4px;
--spacing-xs: 8px;
--spacing-s: 12px;
--spacing-m: 16px;
--spacing-l: 24px;
--spacing-xl: 36px;
--spacing-xxl: 48px;
--spacing-big: 72px;
--spacing-huge: 96px;
--thickness-thin: 1px;
--thickness-normal: 2px;
--thickness-thick: 4px;
--thickness-extraThick: 8px;
--radius-small: 2px;
--radius-normal: 4px;
--radius-large: 8px;
--radius-huge: 16px;
--elevation-extraLow: 0 0 1px 0;
--elevation-low: 0 0 2px 0;
--elevation-normal: 0 0 4px 0;
--elevation-high: 0 0 8px 0;
--elevation-extraHigh: 0 0 16px 0;
--fontWeight-normal: normal;
--fontWeight-thin: 200;
--fontWeight-semi-bold: 400;
--fontWeight-bold: bold;
--fontWeight-semiBold: 400;
} 

@keyframes slideIn{
0%  {
  transform: translateY(200%);
  opacity: 0;
}

100%  {
  transform: translateY(0%);
  opacity: 1;
}
}

@keyframes fadeIn{
0%  {
  opacity: 0;
  display: block;
}

100%  {
  opacity: 1;
  display: block;
}
}

@keyframes bounce{
20%  {
  transform: translateY(0);
}

40%  {
  transform: translateY(-30);
}

50%  {
  transform: translateY(0);
}

60%  {
  transform: translateY(-15);
}

80%  {
  transform: translateY(0);
}
}